:root {
  --signature-color: #9091ee;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title > label {
  font-size: 20pt;
  font-weight: bold;
}

.title > label > input {
  border: solid 3px var(--signature-color);
  border-radius: 5px;
  margin-left: 25%;
  width: 48%;
  height: 50px;
  font-size: 30px;
}

.title > label > input:focus {
  outline: none;
}

.contents > label > input {
  height: 300px;
  width: 50%;
  margin: 10px;
}

.contents > label > input::placeholder {
  font-size: 30px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.button_1 {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: var(--signature-color);
  color: white;
  border: hidden;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}

.button_2 {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: white;
  color: var(--signature-color);
  border: solid 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}

.button_1:hover .button_2:hover {
  box-shadow: 100px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}
