.modifyBtn {
  position: relative;
  width: 90px;
  height: 40px;
  background-color: #9091ee;
  border: hidden;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}
.modifyBtn:hover {
  box-shadow: 90px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}

.deleteBtn {
  position: relative;
  width: 90px;
  height: 40px;
  background-color: white;
  border: hidden;
  color: #9091ee;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  border: solid 2px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}
.deleteBtn:hover {
  box-shadow: 90px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}
