:root {
  --signature-color: #9091ee;
}

.modifyBtn {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: var(--signature-color);
  color: white;
  border: hidden;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}

.deleteBtn {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: white;
  color: var(--signature-color);
  border: solid 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.9s, color 0.2s;
}

.modifyBtn:hover,
.deleteBtn:hover {
  box-shadow: 100px 0 0 0 rgba(0, 0, 0, 0.2) inset;
}
